.buscar {
    position: absolute;
    top:  70px; 
    left: 400px;
    box-shadow: 2px 2px;
}

.espotify {
    position : absolute;
    left: 50px;
}

.texto{
    font-size: 250%;
    position: absolute;
    top: 25px;
}

.usuario{
    position: absolute;
    top: 25px;
    right: 30px;
}

.imgUsuario{
    position : absolute;
    top:  20px; 
    right: 140px;
    width:60px;
    height:60px;
    border-radius:30px;
    border:1px solid #666;
}

